/*******
* 
* strongs numbers w/in passages
* 
*******/
.lexicon a[data-href^="H0"],
.lexicon a[data-href^="H1"],
.lexicon a[data-href^="H2"],
.lexicon a[data-href^="H3"],
.lexicon a[data-href^="H4"],
.lexicon a[data-href^="H5"],
.lexicon a[data-href^="H6"],
.lexicon a[data-href^="H7"],
.lexicon a[data-href^="H8"],
.lexicon a[data-href^="H9"],
.lexicon a[data-href^="G0"],
.lexicon a[data-href^="G1"],
.lexicon a[data-href^="G2"],
.lexicon a[data-href^="G3"],
.lexicon a[data-href^="G4"],
.lexicon a[data-href^="G5"],
.lexicon a[data-href^="G6"],
.lexicon a[data-href^="G7"],
.lexicon a[data-href^="G8"],
.lexicon a[data-href^="G9"] {
  vertical-align:super;
  text-decoration: underline !important;
  font-size: .55em !important;
  /*opacity:77%;*/
  /*font-weight:bold !important;*/
}
/*******
* 
* passage paragraphs
* 
*******/
.lexicon p {
  text-indent: 7px;
  padding-left:20px;
  padding-right:10px;
  text-align: justify;
  padding-top:0px !important;
  margin-top: 0px !important;
}
/*******
* 
* verse numbers aligned
* to the left of verse
* 
*******/
.lexicon h3 {
  position: relative;
  left: 0;
  top: 25px;
  line-height: 0px;
  margin-top: -20px;
  margin-right: 3px;
  font-family: var(--font-family-preview);
  font-weight: 500;
  font-size: .88em !important;
  font-weight: bold;
  font-style: normal;;
  color: var(--text-faint) !important;
}
/*******
* 
* verse numbers on
* hover preview popover
* 
*******/
div.popover.hover-popover .markdown-preview-view h6 {
  top: 23px;
}